.help {
  padding: 80px 0 100px 0;
  background-color: var(--color-light-xl);
}

.help__container {
  width: 1026px;
  margin: 0 auto;
}

.help__title {
  margin-bottom: 60px;
  text-align: center;
}

.help__list {
  display: flex;
  justify-content: space-between;
  gap: 55px 100px;
  flex-wrap: wrap;
}

.help__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.help__row-container {
  width: 858px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 119px;
}