.about {
  padding: 80px 0 100px 0;
  background-color: var(--color-light-xl);
}

.about__content {
  width: 850px;
  margin: 0 auto;
  display: flex;
  gap: 120px;
}

.about__text {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.about__paragraph {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-xl);
}