@media screen and (max-width: 1260px) {
  .container {
    width: 1000px;
  }

  .not-only__img {
    width: 569px;
    height: auto;
  }

  .not-only__paragraph {
    font-size: 14px;
  }

  .our-friends__content {
    justify-content: center;
    gap: 40px;
  }

  .our-friends__nav-button-left {
    left: -50px;
  }

  .our-friends__nav-button-right {
    right: -50px;
  }

  .footer__content-main {
    gap: 61px;
  }
}

@media screen and (max-width: 1132px) {
  .our-friends__nav-button-left {
    left: -15px;
  }

  .our-friends__nav-button-right {
    right: -15px;
  }
}

@media screen and (max-width: 1065px) {
  .container {
    width: 850px;
  }

  .not-only {
    padding-top: 150px;
  }

  .not-only__content {
    flex-direction: column;
    gap: 100px;
    align-items: center;
  }

  .not-only__title {
    padding-top: 0;
  }

  .not-only__paragraph {
    font-size: 15px;
  }

  .about__content {
    width: 505px;
    flex-direction: column-reverse;
    align-items: center;
    gap: 80px;
  }

  .our-friends__container {
    width: 700px;
  }

  .our-friends__card-hidden-page1 {
    display: none;
  }

  .help__container {
    width: 800px;
  }

  .help__list {
    gap: 50px;
  }

  .help__list-row {
    width: 708px;
    gap: 66px;
  }

  .in-addition__content {
    width: 505px;
    flex-direction: column-reverse;
    gap: 60px;
  }

  .in-addition__content-main {
    align-items: center;
  }

  .footer__content {
    align-items: center;
    flex-direction: column;
  }

  .footer__text {
    height: 234px;
  }
}

@media screen and (max-width: 900px) {
  .container,
  .help__container {
    width: 708px;
  }

  .help__list {
    gap: 39px;
  }
}

@media screen and (max-width: 768px) {
  .not-only__button {
    width: 207.4px;
    display: block;
    margin: 0 auto;
  }

  .not-only__img {
    align-self: flex-end;
  }

  .about__content {
    width: 430px;
  }

  .about__text {
    padding-top: 0;
  }

  .our-friends__nav-button-right {
    right: -4px;
  }

  .our-friends__nav-button-left {
    left: -4px;
  }

  .our-friends-page2 {
    padding: 80px 0 76px 0;
}

  .our-friends__title-page2 {
    margin-bottom: 30px;
  }

  .our-friends__content-page2 {
    margin-bottom: 40px;
    gap: 30px 40px;
  }

  .our-friends__card-hidden-page2 {
    display: none;
  }

  .help__desktop {
    display: none;
  }

  .help__adaptive {
    display: block;
  }

  .help__container {
    width: 630px;
  }

  .help__list-adaptive {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 54px 0;
  }

  .help__list-adaptive .help__list-item {
    flex-basis: 27%;
  }

  .in-addition__content-main {
    width: 380px;
  }

  .in-addition__title,
  .in-addition__text {
    align-self: flex-start;
  }

  .footer {
    padding-top: 30px;
  }

  .footer__container {
    width: 640px;
  }

  .footer__content-main {
    padding-top: 0;
    padding-bottom: 65px;
  }
}

@media screen and (max-width: 744px) {
  .header__nav {
    display: none;
  }

  .header__burger-menu {
    display: block;
  }

  .header__burger-menu-button-container {
    display: flex;
  }

  .container,
  .our-friends__container,
  .our-friends__content-page2 {
    width: 600px;
  }

  .our-friends__card-hidden-mobile {
    display: none;
  }

  .our-friends__nav-button-left {
    left: 90px
  }

  .our-friends__nav-button-right {
    right: 90px;
  }

  .footer__content-main {
    flex-direction: column;
  }
}

@media screen and (max-width: 717px) {
  .not-only__img,
  .in-addition__img {
    width: 360px;
    height: auto;
  }
}

@media screen and (max-width: 652px) {
  .our-friends__content-page2 {
    width: 579px;
  }
}

@media screen and (max-width: 648px) {
  .container,
  .about__content,
  .our-friends__container,
  .help__container,
  .our-friends__content-page2 {
    width: 400px;
  }

  .our-friends__nav-button-left {
    top: 455px;
    right: 258px;
  }

  .our-friends__nav-button-right {
    top: 455px;
    left: 258px;
  }

  .our-friends__content {
    margin-bottom: 114px;
  }

  .our-friends__content-page2 {
    width: 406px;
    margin-bottom: 43px;
    gap: 30px 0px;
  }

  .help__list-adaptive .help__list-item {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 531px) {
  .our-friends-page2 {
    padding: 42px 0 42px;
  }

  .our-friends__title-page2 {
    margin-bottom: 42px;
    font-size: 25px;
  }

  .our-friends__nav {
    gap: 10px;
  }

  .our-friends__card-hidden-page2-mobile {
    display: none;
  }
}

@media screen and (max-width: 530px) {
  .container,
  .about__content,
  .our-friends__container,
  .help__container {
    width: 320px;
  }

  .our-friends__content-page2 {
    width: 320px;
  }

  .not-only__img,
  .about__img,
  .in-addition__img,
  .footer__img {
    width: 260px;
    height: auto;
  }

  .about,
  .our-friends,
  .help,
  .in-addition {
    padding: 42px 0 42px;
  }

  .not-only__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
  }

  .title {
    font-size: 25px;
    text-align: center;
  }

  .not-only__title {
    margin-bottom: 0;
    letter-spacing: 0.06em;
  }

  .not-only__paragraph-adaptive {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-s);
    display: block;
    text-align: center;
  }

  .not-only__paragraph {
    display: none;
  }

  .our-friends__title {
    margin-bottom: 42px;
  }

  .our-friends__nav-button-left {
    top: 455px;
    left: 67px;
  }

  .our-friends__nav-button-right {
    top: 455px;
    left: 199px;
  }

  .help__title {
    margin-bottom: 42px;
  }

  .help__list-adaptive {
    gap: 30px 0;
  }

  .help__list-item {
    font-size: 15px;
    line-height: 110%;
    gap: 20px;
  }

  .help__icon {
    max-height: 50px;
  }

  .in-addition__title, .in-addition__text {
    align-self: auto;
  }

  .in-addition__content,
  .in-addition__content-main {
    width: 320px;
  }

  .in-addition__text {
    line-height: 160%;
    letter-spacing: normal;
  }

  .in-addition__card-info {
    font-size: 15px;
    line-height: 110%;
    align-self: auto;
  }

  .in-addition__paragraph {
    text-align: justify;
  }

  .footer__text {
    height: 208px;
  }
}

@media screen and (max-width: 528px) {
  .our-friends__content-page2 {
    width: 320px;
  }
}

@media screen and (max-width: 368px) {
  .container,
  .our-friends__container,
  .help__container {
    width: 300px;
  }

  .header__content {
    width: 280px;
    margin: 0 auto;
  }

  .not-only__content {
    gap: 105px;
  }

  .about__content {
    width: 270px;
    gap: 42px;
  }

  .about__paragraph {
    text-align: justify;
  }

  .about__text {
    gap: 23px;
  }

  .our-friends__content {
    width: 270px;
    margin: 0 auto;
    margin-bottom: 114px;
  }

  .our-friends__content-page2 {
    margin-bottom: 44px;
  }

  .our-friends__nav-button-left {
    top: 455px;
    left: 42px;
  }

  .our-friends__nav-button-right {
    top: 455px;
    left: 174px;
  }

  .help__container {
    width: 290px;
  }

  .help__list-adaptive .help__list-item {
    flex-basis: 45%;
  }

  .in-addition__content,
  .in-addition__content-main {
    width: 280px;
  }

  .in-addition__content {
    gap: 42px;
  }

  .in-addition__card-info {
    padding: 10px 14px;
    align-items: center;
  }

  .footer__title {
    display: none;
  }

  .footer__title-adaptive {
    display: flex;
  }

  .footer__title-adaptive {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-light-xl);
  }

  .footer__container {
    width: 300px;
  }

  .footer__title-adaptive-con {
    margin-bottom: 45px;
  }

  .footer__title-adaptive-loc {
    margin-bottom: 40px;
    align-self: center;
  }

  .footer__list-con {
    align-items: center;
  }

  .footer__list-loc {
    height: 222px;
    gap: 38px;
  }

  .footer__content-main {
    gap: 41px;
    padding-bottom: 53px;
  }
}