.not-only {
  position: relative;
  padding-top: 180px;
  background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%)
}

.not-only__content {
  display: flex;
  justify-content: space-between;
}

.not-only__title {
  padding-top: 164px;
  margin-bottom: 42px;
  font-size: 44px;
  letter-spacing: normal;
  color: var(--color-light-xl);
}

.not-only__paragraph {
  margin-bottom: 42px;
}

.not-only__button {
  display: inline-block;
}

.not-only__paragraph {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-s);
}